@import url('../index.scss');

.banner__container{
    height: auto;
    padding-top: 15% 0;
    .banner{
        position: relative;
        width: 100%;
        min-height: 275px;
        max-height: 450px;
        img{
            width: 100%;
            min-height: 275px;
            max-height: 450px;
            height: 100%;
            object-fit: cover;
            margin: 0;
        }
        .banner_category{
            position:absolute;
            padding: 10px 36px ;
            background-color: #252424b0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p{
                background: -webkit-linear-gradient(-45deg, var(--soft-pink) 25%, var(--soft-yellow) 20%, var(--soft-blue) 100%);
                background-size: 100%;
                font-size: 25px;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
