@import url('../index.scss');

.banner__container {
  width: 100%;
  height: auto;
  padding-top: 15% 0;
  .banner {
    position: relative;
    width: 100%;
    min-height: 450px;
    background: url('./images/banner2.jpg') no-repeat center center;
    .banner_category {
      position: absolute;
      padding: 10px 36px;
      background-color: #252424b0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        background: -webkit-linear-gradient(
          -45deg,
          var(--soft-pink) 25%,
          var(--soft-yellow) 20%,
          var(--soft-blue) 100%
        );
        background-size: 100%;
        font-size: 25px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .banner:nth-child(1) {
    background: url('./images/banner2.jpg') no-repeat center center;
    background-size: cover;
  }
  .banner:nth-child(2) {
    background: url('./images/banner3.jpg') no-repeat center center;
    background-size: cover;
  }
  .banner:nth-child(3) {
    background: url('./images/banner4.jpg') no-repeat center center;
    background-size: cover;
  }
  .banner:nth-child(4) {
    background: url('./images/banner5.jpg') no-repeat center center;
    background-size: cover;
  }
}

@media screen and(min-width: 720px) {
  .banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .banner {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .banner {
      width: 25%;
    }
  }
}
