@import url('../index.scss');

footer{
   
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background : var(--dark-gray);
    color: var(--soft-white);
    .header__logo{
        padding: 5px 18px ;
        background-color: black;
        p{
            font-size: 18px;
            color: var(--soft-white);
            font-weight: 800;
            text-align: center;
        }
    }
    .menu__items-container{
        text-align: center;
        margin: 2.5% 0;
        p{
            font-size: 14px;
            margin: 8% 0 0 0;
        }
    }
    .icons__container{
        min-width: 150px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        .icons_icon-container{
            padding: 4%;
            margin: 0 5%;
            border: 2px solid var(--soft-white);
            border-radius: 50%;
            
        }
        a{
            font-size: 18px;
            color:var(--soft-white);
        }
    }

    p{
        font-size: 12px;
    }
}