@import url('../index.scss');

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    padding: 0 5%;
    .hamburguer{
      
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:100;
        cursor: pointer;

        i{
            width: 25px;
            height: 3px;
            background:var(--medium-gray);
            margin: 3px;
            border-radius: 8px;
        }
        .close:nth-child(1){
            transform: rotate(0) translateY(0);
        }
        
        .close:nth-child(2){
            opacity: 1;
        }
        .close:nth-child(3){
            transform: rotate(0) translateY(0);
        }

        .open:nth-child(1){
            transform: rotate(45deg)translateY(12px);
        }
        .open:nth-child(2){
            opacity: 0;
        }
        .open:nth-child(3){
            transform: rotate(-45deg) translateY(-12px);
        }
    }
    
    .header__logo{
        padding: 5px 18px ;
        background-color: black;
        p{
            color: var(--soft-white);
            font-weight: 800;
            text-align: center;
        }
    }

    .menu_item{
        position:fixed;
        background: var(--dark-gray);
        color: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 0;
        left: 0;
        width: 0vw;
        min-height: 100vh;
        list-style: none;
        z-index: 99;
        //transform: translate(-100%, 0%);
        transition: all 0.5s ease;
        .menu_item-link a{
            display: none;
        }

        .menu_item .menu_item_link:nth-child(1){
            transition: all 0.5 ease-in 0.4s;
        }
        .menu_item .menu_item_link:nth-child(2){
            transition: all 0.5 ease-in 0.6s;
        }
        .menu_item .menu_item_link:nth-child(3){
            transition: all 0.5 ease-in 0.8s;
        }
        .menu_item .menu_item_link:nth-child(4){
            transition: all 0.5 ease-in 1s;
        }
        .menu_item .menu_item_link:nth-child(5){
            transition: all 0.5 ease-in 1.2s;
        }
        .menu_item_link .fade{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .menu_item.expanded{
        width: 100vw;
       // transform: translate(100%, 0%);
    }
}