@import url('../index.scss');

.products_container {
  width: 100%;
  min-height: 60vh;
  padding: 15% 0 0 0;
  margin: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;

  .product_card {
    position: relative;
    min-width: 195px;
    width: 40%;
    max-width: 320px;
    max-height: 320px;
    margin: 4.5% 0.5%;
    .product_card-img {
      min-width: 195px;
      width: 100%;
      max-width: 320px;
      min-height: 185px;
      max-height: 240px;
      height: 70%;
      img {
        min-width: 195px;
        width: 100%;
        max-width: 320px;
        min-height: 185px;
        max-height: 240px;
        cursor: pointer;
      }
    }
    .product_card-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .product_card-title {
        font-size: 16px;
        font-weight: bolder;
        margin: 5% 0;
      }

      .product_card-price {
        font-size: 16px;
        margin: 0 0 5% 0;
      }
    }

    .product_card-add-to-cart {
      position: relative;
      background-color: transparent;
      color: var(--dark-gray);
      padding: 8px 16px;
      border: 2px solid var(--medium-blue);
      border-radius: 8px;
      margin: 0 auto 5% auto;
      outline: none;
      z-index: 3;
      &:hover {
        color: #f1f1f1;
      }
      &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 100%;
        background: var(--medium-blue);
        color: #f1f1f1;
        transition: 0.3s ease-in;
      }
      &:hover:before {
        right: 0;
      }
    }

    .stock {
      position: absolute;
      border: 1px solid cccbc;
      color: #333;
      padding: 5px 10px;
      background: #cccbcb;
      font-size: 12px;
      border-radius: 12px;
      top: 0;
      left: 5%;
    }
  }
}

@media screen and(min-width:1250px) {
  .products_container {
    padding-top: 5%;
  }
}

@media screen and(min-width:1250px) {
  .products_container {
    padding-top: 5%;
  }
}
