.product_description {
  width: 100%;
  height: auto;
  min-height: 80vh;
  margin: 15% 0;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  .product__page-image-container {
    min-width: 200px;
    width: 100%;
    max-width: 380px;
    min-height: 250px;
    height: 100%;
    margin: 2.5% 0%;
    overflow: hidden;
    img {
      min-width: 185px;
      width: 100%;
      max-width: 380px;
      min-height: 250px;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .product_page-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 70%;
    margin: 0.5% 15%;
    .stock-alert {
      font-size: 14px;
      color: #ec655d;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .product_page-title {
      font-size: 25px;
      font-weight: 500;
      color: var(--medium-gray);
      margin-bottom: 5px;
    }
    .product_page-price {
      font-size: 28px;
      font-weight: 500;
      color: var(--light-blue);
      margin-bottom: 5px;
    }
    .product_page-quantity-container {
      margin: 2.5% 0;
      min-width: 80px;
      max-width: 100px;

      display: flex;
      justify-content: flex-start;
      div {
        margin-right: 25px;
      }

      .product_page-quantity-label {
        font-size: 12px;
        font-weight: 100;
      }

      .product_page-quantity {
        min-width: 50px;
        width: 30%;
        max-width: 80px;
        min-height: 40px;
        max-height: 60px;
        padding: 5%;
        outline: none;
      }
    }
    .product_card-add-to-cart {
      background-color: var(--dark-gray);
      color: var(--soft-white);
      width: 100%;
      margin-top: 5%;
      padding: 12px 0px;
      border: 1px solid var(--dark-gray);
      border-radius: 8px;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media screen and(min-width: 950px) {
  .product_description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 2.5% 0;
    .product__page-image-container {
      width: 30%;
      min-width: 450px;
      min-height: 380px;
      margin: 0%;
      img {
        width: 100%;
        min-width: 450px;
        min-height: 380px;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .product_page-information-container {
      width: 100%;
      margin: 5%;
      justify-content: flex-start;
      align-content: center;
      padding-top: 5%;

      .product_card-add-to-cart {
        width: 100%;
        margin: 1.5% 0;
      }
    }
  }
}

@media screen and(min-width: 1250px) {
  .product_description {
    margin-top: 5%;
    .product_page-information-container {
      margin: 0.5% 5%;
      padding: 10% 0 0 0;
      .product_card-add-to-cart {
        width: 70%;
      }
    }
  }
}
